# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
LICENSE_fly-command-mod-forge
src/test
src/generated

# Files from Forge MDK
forge*changelog.txt
